<header class="site-header">
  <div class="container">
    <!-- Site Logo/Title -->
    <a href="/" class="site-title">{{site.title}}</a>
    <!-- Navigation Menu -->
    <nav class="main-nav">
      <ul>
        <li><a href="/about/">[About]</a></li>
        <li><a href="/playground/">[Playground]</a></li>
        <li><a href="/goodstuff/">[Good Stuff]</a></li>
        <li><a href="/blog/">[Blog]</a></li>
      </ul>
    </nav>
  </div>
</header>