<header class="site-header">
    <a href="/" class="site-title">{{site.title}}</a>
    <nav class="main-nav">
      <ul>
        <li><a href="/about/">[About]</a></li>
        <li><a href="/playground/">[Playground]</a></li>
        <li><a href="/goodstuff/">[Good Stuff]</a></li>
        <li><a href="/blog/">[Blog]</a></li>
      </ul>
    </nav>
</header>