<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | {{ site.title }}</title>
  {% include "components/data.njk" %}
</head>
<body>
  <!-- Include the Header -->
  {% include "components/header.njk" %}

  <!-- Main Content -->
  <main>
    {{ content | safe }}
  </main>

</body>
</html>