<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | {{ site.title }}</title>
  {% include "components/data.njk" %}
  <style>
    body{
    background-image: url("../assets/attachments/bg.jpg");
     background-repeat: no-repeat;
    background-size: 1920px 1080px;
    text-align: center;
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 40rem;
        width: 100vw;
    }
  </style>
</head>
<body>
  <!-- Include the Header -->
  {% include "components/header.njk" %}
  <!-- Main Content -->
  <main>
    {{ content | safe }}
  </main>

</body>
</html>