<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | {{ site.title }}</title>
  {% include "components/data.njk" %}
</head>
<body>
  <!-- Include the Header -->
  {% include "components/header.njk" %}

<main>
  <div class="postinfo">
    <h1>{{title}}</h1>
    <small>Posted {{created}} | {{topics}}</small>
  </div>
  <div class="postcontent">
    {{content | safe}}
  </div>
</main>

</body>
</html>