/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
/* CSS Variables */

:root {
  --bgcolor: #000000;
  --fgcolor: #f6f6f6;
  --bodyfont: 'Geist Mono', sans-serif;
  --navfont: 'Geist Mono', sans-serif;
  --titlefont: 'Bricolage Grotesque', sans-serif;
}

/* Global Styles */
body {
  background-color: var(--bgcolor);
  color: var(--fgcolor);
  font-family: var(--bodyfont);
  font-size: 1.1rem;
  line-height: 1.2;
  margin: 0;
}
main {
  width: 60%;
  margin: 0 auto;
}

/* Typography */
h1,h2,h3,h4,h5,h6 {
  font-family: var(--titlefont);
  font-weight: 400;
  text-transform: none;
  margin: 0;
  padding: 0.2rem 0;
}
p {
  margin: 0;
}
a {
  color: #5555FF;
  font-weight: 800;
  text-decoration: underline 2px;
}
img {
  display: block;
  margin: auto;
  width: 50%;
}
ul {
  list-style: '● ' inside;
  padding: 0;
  margin: 0;
}
small {
  opacity: 0.7;
}
hr {
  border: none;
  border-top: 5px solid var(--fgcolor);
  margin: 0.5rem 0;
}
pre, code {
  background-color: #18181a;
}
/* Button Styles */
.button {
  font-family: var(--bodyfont);
  font-weight: 600;
  background-color: var(--fgcolor);
  color: var(--bgcolor);
  border: none;
  padding: 10px 20px;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}
.button:hover {
  background-color: var(--bgcolor);
  color: var(--fgcolor);
  border: 1px solid var(--fgcolor);
}

/* Table Styles */
table {
  border-collapse: collapse;
  width: 100%;
  background-color: var(--bgcolor);
}
th, td {
  border: 1px solid var(--fgcolor);
  padding: 10px;
  text-align: left;
  font-family: var(--bodyfont);
}
th {
  background-color: var(--fgcolor);
  color: var(--bgcolor);
}
td {
  background-color: var(--bgcolor);
}

/* Header Styles */
.site-header {
    background-color: var(--bgcolor);
    font-family: var(--navfont);
    font-size: 1rem;
    padding: 0.6rem;
    margin-top: 0%;
    margin-bottom: 1rem;
    border-bottom: var(--fgcolor) 5px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .site-header a {
    font-weight: 300;
    text-decoration: none;
    color: var(--fgcolor);
    font-size: larger;
  }
  .main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  .main-nav li {
    margin-left: 1rem;
  }
  .main-nav a {
    text-decoration: none;
    font-size: larger;
  }
  .main-nav a:hover {
    text-decoration: underline;
  }

  .posts {
    font-size: 1.3rem;
    font-family: var(--titlefont);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-bottom: #ffffff 5px solid;
    padding: 15px 0px;
  }
  .posts a {
    text-decoration: none;
    color: var(--fgcolor);
    font-weight: bold;
  }
  .posts a:hover {
    text-decoration: underline;
  }

/* Playground Styles */
.project {
  padding: 10px 0px;
  border-bottom: #ffffff 5px solid;
}
.project a {
  font-weight: bold;
}